/*
Various styles for the app
*/

.Add-button{
  border-radius: 50%;
  background-color: #808080;
  border: none;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin:4px;
  height:50px
}


.Movie-image{
  height:150px;
  width: 100px
}

.Shopping-cart{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  margin: 10px;
  padding: 10px;
  font-size:15px
  
}

.Shopping-cart-expanded{
  display:flex;
  flex-direction: column;
  height: 1000px
}

.Product-in-productlist{
  display:flex;
  color: #808080;
  background: rgba(211, 105, 19, 0.459);
  padding: 10px;
  margin:10px;
  border:5px;
  justify-content: left;
  align-items: center

}

.Cart-image{
  height:50px;
  width:50px
}

.Product-list{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:75%
}


.Cart-component{
  width: 60px;
  
}